@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

  /* Styles for screens smaller than 768px wide */
  /* Adjust font sizes, margins, padding, etc. */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
  body{
    font-size: larger;
    margin: 0;
  }  
  .charDiv {
    padding: 50px;
    width: 100%;
    justify-content: center;
  }
  .char-image{
    height: 60%;
  }
  .locDiv{
    min-width: 80%;
  }
  .details .closeModal{
    padding: 5px;
    margin-left: 95%;
  }
  .buttons button{
    height: 200px
  }
  .aboutContainer{

    width: 100%;
  }
}

@media screen and (max-width: 480px) {
    /* Further adjustments for smaller screens */
    body{
      font-size: larger;
      margin: 0;
    }  
    .charDiv {
      width: 100%;
    }
    .char-image{
      height: 60%;
    }
    .char-input{
      height: 100%;
    }
    .locDiv{
      width: 100%;
    }
    .details .closeModal{
      padding: 5px;
      margin-left: 95%;
    }
    .buttons button{
      height: 200px
    }
    .aboutContainer{
      width: 100%;

    }
}
  

body{
  font-family: 'IBM Plex Mono', monospace;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: url('./assets/rickandmortwall.png') no-repeat;
  background-size: cover;
  color: greenyellow;
  background-position: center;
  background-attachment: fixed;
}
.charDiv{
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.char-input{
  background: black;
  width: fit-content;
  padding: 15px;
  border: 1px solid greenyellow;
  border-radius: 5px;
  border-top: none;
  max-height: 16%;
}
.details{
  border: 1px solid greenyellow;
  max-width: 70%;
  min-width: 40%;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: greenyellow;
  font-size: larger;
  font-weight: 900;
}
.details .closeModal{
  margin-left: 85%;
}
.char-image{
  backdrop-filter: blur(5px);
  border: 1px solid greenyellow;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  min-height: 80%;
  max-width: 100%;
}
.image-char{
  width: 100%;
  height: 100%;
}
.buttons{
  display: flex;
  align-items: center;  
  width: 100%;
}
.buttons button{
  font-family: 'IBM Plex Mono', monospace;
  padding: 25px;
  width: 100%;
  border: none;
  background: black;
  color: white;
  text-align: center;
  font-size: larger;
  font-weight: 900;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.buttons button:hover{
  background: rgb(185, 185, 185);
  color: black;
}
.locArea{
  border: 1px solid greenyellow;
  padding: 50px;
  color: greenyellow;
  font-size: larger;
  font-weight: 900;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  background:  rgba(0, 0, 0, 0.5);
  min-height: 250px;
  min-width: 30%;
}
.locInput{
  width: 480px;
  padding: 5px;
  background: none;
  border: 1px solid greenyellow;
  border-radius: 5px;
  color: greenyellow;
  outline: none;
}
.locInputDiv{
  display: flex;
  justify-content: space-between;
  background: black;
  max-width: 450px;
  padding: 8px;
  border: 1px solid greenyellow;
  border-radius: 5px;
  gap: 5px;
  border-top: none;
  padding-bottom: 15px;
  min-width: 34%;
  max-width: 80%;
}
.locDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}
.locDiv .closeModal{
  margin-left: 100%;
}
.locSubmit{
  background : none;
  color : greenyellow;
  border : 1px solid greenyellow;
  border-radius: 5px;
  padding : 5px;
  cursor : pointer;
  transition: background .2s ease-in-out;
  width: 150px;
}
.locSubmit:hover{
  background : greenyellow;
  color: black;
}
.sbmtBtn{
  padding: 5px;
  background: none;
  border: 1px solid greenyellow;
  border-radius: 5px;
  color: greenyellow;  
  cursor: pointer;
  transition: background .2s ease-in-out;
}
.sbmtBtn:hover{
  color: black;
  background: greenyellow;
}
.epiArea{
  border: 1px solid greenyellow;
  padding: 50px;
  color: greenyellow;
  font-size: larger;
  font-weight: 900;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  background:  rgba(0, 0, 0, 0.5);
  min-height: 250px;
  min-width: 30%;
}
.epiInputDiv{   
  display: flex;
  justify-content: space-between;
  background: black;
  max-width: 450px;
  padding: 8px;
  border: 1px solid greenyellow;
  border-radius: 5px;
  gap: 5px;
  border-top: none;
  padding-bottom: 15px;
  min-width: 34%;
  max-width: 80%;
}
.epiDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
.epiDiv .closeModal{
  margin-left: 100%;
}
.epiInput{
  width: 480px;
  padding: 5px;
  background: none;
  border: 1px solid greenyellow;
  border-radius: 5px;
  color: greenyellow;
  outline: none;
}
.epiSubmit{
  background : none;
  color : greenyellow;
  border : 1px solid greenyellow;
  border-radius: 5px;
  padding : 5px;
  cursor : pointer;
  transition: background .2s ease-in-out;
  width: 150px;
}
.epiSubmit:hover{
  color: black;
  background: greenyellow;
}
.closeModal{
  fill: rgb(133, 133, 133);
  margin-left: 85%;
  cursor: pointer;
  transition: .2s ease-in-out;
  scale: 1.5;
  width: 20px;
  height: 20px;
}
.closeModal:hover{
  fill: rgb(255, 0, 0);
}
.aboutContainer{
  min-height: 100%;
  padding: 25px;
  border-left: 1px solid greenyellow;
  border-right: 1px solid greenyellow;
  backdrop-filter: blur(5px);
  background:  rgba(0, 0, 0, 0.8);
}
.instagram, .github, .email{
  cursor: pointer;
  color: white;
}
.instagram:hover, .github:hover, .email:hover{
  color: rgb(117, 190, 233);
}